services:
  db:
    image: mysql:8.0
    container_name: db-webii
    restart: always
    volumes:
      - ./data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-root}
      - MYSQL_DATABASE=${MYSQL_DBNAME:-webii}
    ports:
      - "3333:3306"
    networks:
      - webii

  api:
    image: eclipse-temurin:21
    container_name: api-webii
    volumes:
      - ./.mvn:/home/api/.mvn
      - ./src:/home/api/src
      - ./mvnw:/home/api/mvnw
      - ./pom.xml:/home/api/pom.xml
    working_dir: /home/api
    ports:
      - "8080:8080"
    depends_on:
      - db
    command: "tail -f /dev/null"
    environment:
      - MYSQL_URI=jdbc:mysql://db:3306/${MYSQL_DBNAME:-webii}?useSSL=false&serverTimezone=UTC
      - MYSQL_USER=${MYSQL_USER:-root}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-root}
      - MYSQL_HOST=mysql
      - MYSQL_PORT=3306
      - MYSQL_DBNAME=${MYSQL_DBNAME:-webii}
    networks:
      - webii

networks:
  webii:
    driver: bridge
